<div class="bg-white rounded-lg shadow-md p-4 m-4">
  <h2 class="text-lg font-bold mb-4">
    Q.{{ questionNumber }} {{ question.question }}
  </h2>
  <ul>
    <li *ngFor="let answer of question.answers | keyvalue">
      <label class="block my-2">
        <input
          *ngIf="answer.value !== null"
          type="radio"
          [name]="question.id"
          [value]="answer"
          (change)="selectAnswer(question, answer.key)"
        />
        {{ answer.value }}
      </label>
    </li>
  </ul>
</div>

<!-- <button
  type="button"
  class=""
  [disabled]="!isAnswerSelected"
  [ngClass]="{ disabled: !isAnswerSelected, active: isAnswerSelected }"
  (click)="nextQuestion()"
>
  {{ totalQuestion === questionNumber ? "Submit" : "Next" }}
  <svg
    class="w-3.5 h-3.5 ml-2"
    aria-hidden="true"
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 14 10"
    *ngIf="totalQuestion !== questionNumber"
  >
    <path
      stroke="currentColor"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M1 5h12m0 0L9 1m4 4L9 9"
    />
  </svg>
</button> -->

<button
  [disabled]="!isAnswerSelected"
  (click)="nextQuestion()"
  class="next-button"
  [ngClass]="{ disabled: !isAnswerSelected, active: isAnswerSelected }"
>
  {{ totalQuestion === questionNumber ? "Submit" : "Next" }}
  <svg
    class="w-3.5 h-3.5 ml-2"
    aria-hidden="true"
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 14 10"
    *ngIf="totalQuestion !== questionNumber"
  >
    <path
      stroke="currentColor"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M1 5h12m0 0L9 1m4 4L9 9"
    />
  </svg>
</button>
